- provide :title, @user.name
div.row
  div.span9
    h1
      = gravatar_for @user
      = @user.name
  div.span3
    div.well
      strong Name
      = @user.name
      strong URL
      = link_to user_path(@user), @user
